body {
    background-color: #193549;
    color: aliceblue;
    text-align: center;
}
:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur:1px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur))
}

#js {
    color: var(--base);
}
.controls {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 25px;
}
input[type=range] {
    width: 75px; 
    height: 20px;
    background: transparent;
  }
input[type=color] {
    width: 75px;
    height: 20px;
    padding: 1px 1px;
    background-color: transparent;
    margin-bottom: 10px;
    border: transparent;
    
}
  input[type=range]:focus {
    outline: none;
  }
